#root {
  --leftmenu: #252425;
  --lmsecondary: rgba(255, 255, 255, 0.031);
}

.leftmenu-container {
  position: absolute;
  top: 0;
  left: -600px;
  width: 410px;
  height: calc(100% - 70px);
  transition: all 0.4s;
  background: var(--leftmenu);
  transform: translateX(0);
  z-index: 98;
  padding: 35px 30px 35px 160px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  .pesonal-name {
    margin: 75px 0 0 10px;
    display: flex;
    position: relative;
    &:hover {
      .hovered {
        width: 0;
      }
    }
    .name {
      margin: 0;
      color: white;
      font-family: "Titillium Web", sans-serif;
      font-size: 30px;
      text-decoration: none;
    }
    .hovered {
      position: absolute;
      right: 70px;
      width: 50%;
      height: 100%;
      transition: all 0.4s;
      margin: 0;
      background: var(--lmsecondary);
    }
  }
  .internalmenu-container {
    display: flex;
    flex-direction: column;
    margin: 65px 0 0 10px;
    .menu-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 350px;
      height: 40px;
      position: relative;
      cursor: pointer;
      &:hover {
        .hovered {
          width: 100%;
        }
      }
      .hovered {
        position: absolute;
        width: 0%;
        height: 100%;
        background: var(--lmsecondary);
        transition: all 0.4s;
      }
      .item-name {
        color: white;
        font-size: 12px;
        margin-left: 10px;
        font-weight: 600;
      }
      .item-name.active {
        color: var(--yellow);
      }
      img {
        margin-right: 10px;
      }
    }
    .submenu-container {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      transition: height 0.5s;
      height: 0;
    }
    .submenu-container.active {
      height: 200px;
    }
    .menu-item.sub {
      margin-left: 10px;
      animation: appear 1s;
      .social {
        color: white;
        font-size: 12px;
        margin-left: 10px;
        font-weight: 600;
      }
      a {
        text-decoration: none;
      }
      &:hover {
        p {
          color: #fac921;
        }
      }
    }
  }
  .bottom-block {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 10%;
    background: var(--lmsecondary);
  }
  .menu-name {
    position: absolute;
    bottom: 60px;
    left: 60px;
    display: flex;
    transform: rotate(-90deg);

    .big-menu {
      font-size: 70px;
      color: rgba(255, 255, 255, 0.2);
    }
  }
}
.leftmenu-container.active {
  transform: translateX(600px);
  opacity: 1;
}

@keyframes appear {
  0% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scaling {
  0% {
    height: 0;
  }
  100% {
    height: 200px;
  }
}
